.v-selection-control__input input{
    opacity: 1 !important;
    height: 20px !important;
    margin-top: 9px !important;
  }
  .v-checkbox .v-selection-control {
    min-height: 30px !important;
  }